                body{
                  background-color: #ebebeb;
                }
                
                
                .cardPage {
                  width: 550px;             
                  height: 230px;            
                 /* border: 3px solid black;*/
                  border-radius: 15px;     
                  overflow: hidden;
                  font-family: Arial, sans-serif;
                  background: #fff;
                  position: relative;
                  z-index: -1;
                }

             

                /* Faixa superior */
                .topPage {
                  background: linear-gradient(90deg, #111 70%, #222 100%);
                  height: 75px;         
                  position: relative;
                }

                /* Linha */
                .dividerPage {
                  position: absolute;
                  top: 80px;                
                  left: 0;
                  width: 100%;
                  height: 0;
                  border-top: 3.5px solid black; 
                  z-index: 1;
                }

                /* Foto */
                .photoPage {
                  position: absolute;
                  top: 40px;                
                  left: 40px;                 
                  width: 90px;             
                  height: 90px;               
                  background: #bbb;
                  border-radius: 50%;       
                  border: 3.5px solid black; 
                  background-clip: padding-box;
                  z-index: 2;
                }

                /* Conteúdo */
                .contentPage {
                  display: flex;
                  flex-direction: column;
                  text-align: center;
                  position: absolute;
                  top: 135px;                
                  left: 8%;
                }

                .namePage {                
                  font-size: 22px;         
                  font-weight: bold;
                  margin-bottom: 3px;       
                }

                .infoPage {
                  display: flex;
                  justify-content: space-between;
                  font-size: 15px;       
                  width: 100%; 
                  font-weight: bold;
                  color: #666;
                }

                .edit{
                  display: flex;
                  flex-direction: row;
                  font-size: 15px;       
                  font-weight: bold;
                  color: #666;
                }





/*CONTAINER DADOS*/

.containerDados{
  width: 550px;
  height: 30px;
  border-radius: 12px;
  margin-top: 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 15px;       
  font-weight: bold;
  color: #000000;
}



/*POSTAGENS NO PERFIL*/

                .container{
                      display: flex;
                      flex-direction: row;
                      margin-top: 10px;
                  }

                  .bloco{
                      display: flex;
                      flex-direction: row;

                  }

                  .caixa{
                      width: 180px;
                      height: 180px;
                      background-color: rgb(198, 198, 198);
                      border-radius: 20px;
                      margin-right: 8px;
                      margin-bottom: 8px;
                  }

                  .caixaG{
                      width: 180px;
                      height: 368px;
                      background-color: rgb(198, 198, 198);
                      border-radius: 20px;
                      margin-bottom: 10px;
                      margin-right: 10px;

                  }

