*{
    margin: 0%;
    padding: 0%;
}




.bloco-de-opcoes
.bloco-de-opcoes * {
  box-sizing: border-box;
}
.bloco-de-opcoes {
  background: #161616;
  padding: 31px 50px 31px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  position: relative;
}
.layout-fixo {
  display: flex;
  flex-direction: row;
  gap: 800px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bloco-logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.bridge {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  align-content: center;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.navega {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.botoes {
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 10px;
  position: relative;
}
.button {
  color: #ffffff;
  border: none;
  background: none;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}

.entrar {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding: 10px;
  text-decoration: none;
  
  background-color: #ffffff;
  
  width: 100px;
  text-align: center;
  border-radius: 30px;
  

}
.entrar {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding: 10px;
  text-decoration: none;

  background-color: #ffffff;

  width: 100px;
  text-align: center;
  border-radius: 30px;
  transition: all 0.3s ease;
  position: relative;

}

.entrar:hover {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding: 10px;
  text-decoration: none; 
  background-color: #15D3B1;
  width: 100px;
  transform: scale(1.02);
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(21, 211, 177, 0.5);
}

.container-home{
  display: flex;
  flex-direction: column;
  background-color: #161616;
  height: 860px;
  width: 100%;
  align-items: center;
  padding-top: 80px;
}
.content-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 10px;
}
img{
  width: 100%;
}

.box-home{
  width: auto;
  height: auto;
  border-radius:20px ;
  transition: all 0.1s ease-in-out;
  justify-content: center;
  align-items: center;
}

.box-menor{
  width: auto;
  height: auto;
  border-radius:20px ;
  transition: all 0.1s ease-in-out;
}


.img-h2{
  width:60px;
  height:60px;
}
.box-img{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.bloco-grande{
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-img h2 {
  position: relative;
  display: inline-block;
  cursor: default;
}

.box-img h2::after {
  content: "";
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 0%;
  height: 3px;               /* espessura da linha */
  background-color: #15D3B1; /* cor da linha */
  transition: 0.3s ease-in-out;
}

.box-img h2:hover::after {
  width: 100%;
}

.h3-titulo{
  color: #ffffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.p-simples{
    color: #ffffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.img-box-home{
  width: 520px;
  height: 300px;
  border-radius: 20px;
}
.img-box-menor{
  width: 340px;
  height: 250px;
  border-radius: 40px;
}