.di-rio,
.di-rio * {
  box-sizing: border-box;
}
.di-rio {
  background: #ffffff;
  height: 1020px;
  position: relative;
  overflow: hidden;
}
.texto-auxiliar {
  background: #b20000;
  padding: 8px 621px 8px 621px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 64px;
}
.seja-bem-vindo-ao-cps-bridge {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.header-reste {
  background: #7e0000;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 740px;
  align-items: center;
  justify-content: flex-end;
  width: 1440px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-521 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1400px;
  position: relative;
}
.frame-502 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-68 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 1;
}
.nav-novo-junto {
  flex-shrink: 0;
  width: 454px;
  height: 26px;
  position: relative;
}
.nav-novo {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 24.89%;
  height: 111.54%;
  position: absolute;
  right: 75.55%;
  left: -0.44%;
  bottom: -5.77%;
  top: -5.77%;
}
.sala-de-aula {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-499 {
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  flex-shrink: 0;
  width: 8px;
  height: 2px;
  position: absolute;
  left: 63px;
  top: 27px;
  overflow: hidden;
}
.nav-novo2 {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 24.89%;
  height: 111.54%;
  position: absolute;
  right: 50.22%;
  left: 24.89%;
  bottom: -5.77%;
  top: -5.77%;
}
.nav-novo3 {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 24.89%;
  height: 111.54%;
  position: absolute;
  right: -0.44%;
  left: 75.55%;
  bottom: -5.77%;
  top: -5.77%;
}
.sala-de-aula2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.frame-4992 {
  background: #ffffff;
  border-radius: 20px;
  flex-shrink: 0;
  width: 84px;
  height: 2px;
  position: absolute;
  left: 14px;
  top: 27px;
  overflow: hidden;
}
.nav-novo4 {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 24.89%;
  height: 111.54%;
  position: absolute;
  right: 24.89%;
  left: 50.22%;
  bottom: -5.77%;
  top: -5.77%;
}
.frame-519 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.aba-perfil-navega-o {
  flex-shrink: 0;
  width: 30px;
  height: 34px;
  position: relative;
}
.aba-perfil-navega-o-tarefas {
  flex-shrink: 0;
  width: 152px;
  height: 34px;
  position: relative;
}
.foto-de-perfil {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 110px;
  top: 0px;
}
.frame-503 {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.pesquisa {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 34px;
  position: relative;
  overflow: visible;
}
.navega-o-di-rio {
  background: #ffffff;
  border-style: solid;
  border-color: #b20000;
  border-width: 0px 3px 0px 0px;
  padding: 30px 37px 100px 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 313px;
  height: 919px;
  position: absolute;
  left: 0px;
  top: 105px;
  overflow: hidden;
}
.frame-550 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-542 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.informa-es-do-aluno {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-549 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-545 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-540 {
  border-radius: 10px;
  border-style: solid;
  border-color: #b20000;
  border-width: 1px;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.frame-544 {
  background: #e6e6e6;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 161px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.frame-548 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-543 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.rm-99999 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rm-99999-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.rm-99999-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
.frame-546 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.nome-rodrigo-dos-santos {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nome-rodrigo-dos-santos-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.nome-rodrigo-dos-santos-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
.frame-547 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ra-sed-999999999-x-sp {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ra-sed-999999999-x-sp-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.ra-sed-999999999-x-sp-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
.bot-o-suporte {
  background: #7e0000;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 266px;
  height: 25px;
  position: relative;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.frame-551 {
  background: #e6e6e6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 266px;
  height: 51px;
  position: relative;
}
.habilita-o {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-553 {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 256px;
  height: 21px;
  position: relative;
}
.t-cnico-de-desenvolvimento-de-sistemas {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-552 {
  background: #e6e6e6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 266px;
  height: 51px;
  position: relative;
}
.situa-o-matr-cula {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cursando {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-538 {
  background: #b20000;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 267px;
  height: 581px;
  position: relative;
}
.estado-padr-o-diario {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 38px;
  position: relative;
}
.aulas-e-faltas {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-563 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1040px;
  position: absolute;
  left: 340px;
  top: 237px;
}
.frame-562 {
  display: flex;
  flex-direction: row;
  gap: 42px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-559 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 344px;
  position: relative;
}
.frame-558 {
  padding: 5px 10px 5px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.comunicados {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-554 {
  background: #e6e6e6;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 255px;
  position: relative;
  overflow: hidden;
}
.frame-565 {
  padding: 20px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 344px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.voc-n-o-tem-mensagens {
  color: #757575;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-560 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 654px;
  height: 284px;
  position: relative;
}
.ped-ncias {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-555 {
  background: #e6e6e6;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 255px;
  position: relative;
  overflow: hidden;
}
.frame-564 {
  padding: 20px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 170px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.entregar-documento-rg {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.entregar-documento-rg-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.entregar-documento-rg-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
.frame-5652 {
  padding: 10px 10px 20px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 231px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 42px;
}
.entregar-comprovante-de-resid-ncia {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-561 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-5592 {
  padding: 5px 10px 5px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.not-cias {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-557 {
  background: #e6e6e6;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 255px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.frame-566 {
  padding: 20px 20px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 764px;
  top: 0px;
}
.recesso-escolar-09-06-2025-at-20-06-2025 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.recesso-escolar-09-06-2025-at-20-06-2025-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.recesso-escolar-09-06-2025-at-20-06-2025-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
